@import "tailwindcss";

@font-face {
  font-family: "Acumin Pro Condensed";
  src: url("/Acumin%20Pro%20Condensed.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-acumin: "Acumin Pro Condensed";
}

html {
  --font-acumin: "Acumin Pro Condensed";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-acumin);
  --font-mono: var(--font-acumin);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Acumin Pro Condensed", sans-serif;
}
